@tailwind base;
@tailwind components;
@tailwind utilities;

/* util for adding borders depending on media query size */
.size-borders {
  @apply border-2 border-blue-500 sm:border-green-500 md:border-orange-500 lg:border-red-500;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.33s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.33s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  position: absolute;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  gap: 1rem;
}

.drag-drop-item--flash {
  animation: post-move-flash 1s;
}

@keyframes post-move-flash {
  0% {
    @apply bg-teal-500;
  }
  100% {
    @apply bg-inherit;
  }
}
